[2016-10-18 10:30] yinjimmy opened #1 "[*Warning*] : Cannot configure AdColony;"
[code]

How to solve this warning?

[2016-10-20 11:17] dwxw opened #2 "AdColonyZone reward block not called"
I'm migrating to the new SDK.  For my rewarded ad the zone.reward block is never called.  The zone type is Preroll/Interstitial if that makes a difference.  I'm only interested if the ad was watched to completion.  How can I do this with the new SDK?

[2016-10-22 09:05] euroboy opened #3 "Duplicate symbol error"
After installing AdColony iOS SDK 3, I'm facing the following error:

`duplicate symbol _OBJC_IVAR_$_GCDWebServerBodyEncoder._response in:
    /Users/me/Library/Developer/Xcode/DerivedData/myapp/Build/Products/Debug-iphoneos/GCDWebServer/libGCDWebServer.a(GCDWebServerResponse.o)
    /Users/me/Documents/My project/Pods/AdColony/AdColony.framework/AdColony(GCDWebServerResponse.o)`

In my project I'v

[2016-10-26 14:56] octover commented on #3
We are using Ad Colony via Ad Marvel, and have the same problem. We can't/won't try and piggy back on your inclusion of GCDWebServer, so please sort this out. I would suggest namespacing your GCDWebServer to something like ACGCDWebServer so it doesn't conflict.

[2016-10-27 12:55] RackovychV opened #4 "Adcolony shows black screen instead of rewarded video"
Now on my ipad 3 when I call showWithPresentingViewController, instead of ads video there is only black screen without buttons and I can't close it.

[2016-10-29 17:18] aporat opened #5 "crash after dismissing a reward video"
crash after dismissing a reward video on ios 10.1, iphone 7. my app does not support landscape mode

`*** Terminating app due to uncaught exception 'UIApplicationInvalidInterfaceOrientation', reason: 'Supported orientations has no common orientation with the application, and [ADCContainer shouldAutorotate] is returning YES'`

using latest 3.0.4.1 SDK

[2016-10-29 20:58] opendoorapp opened #6 "NSRangeException in [ADCWebViewAPI prepare:]"
Crashes randomly with the following stack trace

Fatal Exception: NSRangeException
0  CoreFoundation                 0x1942f01c0 **exceptionPreprocess
1  libobjc.A.dylib                0x192d2855c objc_exception_throw
2  CoreFoundation                 0x1942f0108 -[NSException initWithCoder:]
3  Foundation                     0x194cf96d4 -[NSString substringFromIndex:]
4  XXXXXXX

[2016-11-03 16:50] dwxw opened #7 "XCTest ADCInstrumentationManager exception"
When using the SDK in my test builds, I now always get the following crash:

2016-11-03 16:37:39.974 xctest[62123:6687018] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[0]'
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001

[2016-11-04 15:47] dwxw commented on #7
I've now got this working.  My test project didn't have 'Allow testing Host Application APIs' checked.  Once checked it stopped crashing.

[2016-11-04 15:47] #7 closed

[2016-11-07 05:19] qichuan commented on #5
It happens to my app as well. AdColony team can you please take a look?

[2016-11-10 19:35] pangia commented on #2
AdColony, please comment on this and other issues reported with SDK 3.0

[2016-11-10 21:30] pangia opened #8 "Cannot exit rewarded video interstitial with Voiceover activated"
With iOS Voice Over activated, you can no longer exit an ad.  The user will be forced to kill the app to get back to the game.  This was not the case in 2.x.  Suggest labeling and making accessible both the replay and close buttons, as well as the link to go to the app store.

[2016-11-11 09:20] lucamicheli opened #9 "Crash after video play [ADCContainer shouldAutorotate] is returning YES"
I've a Portrait app and after the video is played my app crash with this log:
Uncaught exception: Supported orientations has no common orientation with the application, and [ADCContainer shouldAutorotate] is returning YES

How can I solve?

[2016-11-11 13:33] mwhite-ac commented on #9
We have tested a fix for this but don't have it available in the public repository yet.  Please send an email to support@adcolony.com and we'll provide you a link to get this update.  Note that this update is fully tested and not a beta version of the fix.

[2016-11-11 13:36] mwhite-ac commented on #8
We are looking into this issue and will follow up when we have more information.

[2016-11-11 13:37] mwhite-ac commented on #5
We have tested a fix for this but don't have it available in the public repository yet. Please send an email to support@adcolony.com and we'll provide you a link to get this update. Note that this update is fully tested and not a beta version of the fix.

[2016-11-11 13:39] mwhite-ac commented on #4
This is an issue that needs deeper review through our team escalation process.  Please email support@adcolony.com and include a full console log showing all app activity from when you initalize our SDK through the video view and this issue.

[2016-11-11 13:43] mwhite-ac commented on #1
Please send a full console log showing all app activity from when you first initialize our SDK through this error to support@adcolony.com.  This will help us sort out where there might be an earlier configure call happening in your app.  If you are using a mediation partner in your app, please also include the name of that partner in your message.

[2016-11-14 08:58] miraz029 opened #10 "Xcode 8 Hangs after opening Storyboard"
I added AdColony-iOS-SDK-3 in a Swift3 project with CocoaPods and also shown interstitial ads successfully (no warning). But if I open storyboard, Xcode hangs and not responding.

If I just remove AdColony sdk, Storyboard is working again just fine. Its very weird. Do I need to add developers account to use the SDK? Is there any other issues?

[2016-11-17 17:03] pangia commented on #8
This is now a critical issue for us.  Please reply asap with workaround or solution.

Thank you,

Nick Barbato
Pangia Games, Inc.

[2016-11-18 06:32] pangia commented on #8
__________________________________
Please type your reply at the top of the email...

------------------------------------------------------

Melissa White | NOV 18, 2016 10:32PM PST

Nick,

Thank you for getting in touch with us.

The issue that you're seeing is a known issue and will be fixed in our point release that is due in December.

As this is a blocking issue for you, I want to let you kn

[2016-11-21 07:40] FELDev opened #11 "Crashed: AdColony Worker"
This kind of crash happens very often, on release app. I wasn't able to reproduce it. I have only 'Fabric (static data)':
Happens :
iPhones - 75%
ios 10 - 80%

Here is stack trace..

Crashed: AdColony Worker
0  JavaScriptCore   bmalloc::Heap::allocateXLarge(std::__1::lock_guard<bmalloc::StaticMutex>&, unsigned long) + 36
1  JavaScriptCore   bmalloc::Heap::allocateXLarge(std::__1::lock_guard<bmallo

[2016-12-06 20:24] jslew opened #12 "ADCAppDelegateOverride stack overflow"
Not sure of the sequence of events that is producing this, but it is SDK v. 3.0.4.  Crash log says:

`EXC_BAD_ACCESS KERN_PROTECTION_FAILURE 0x000000016fc5bff0`

and then 512 stack frames like:
[code]

[2016-12-09 10:29] AssassinSC opened #13 "Crashes ADCWebViewModule with WebView"
#41. Crashed: AdColony Worker
0  libobjc.A.dylib                0x18fb46f30 objc_msgSend + 16
1  CoreFoundation                 0x190fd2350 CFBasicHashAddValue + 204
2  CoreFoundation                 0x190fe7888 CFRunLoopAddTimer + 488
3  JavaScriptCore                 0x195870fe4 WTF::RunLoop::TimerBase::start(double, bool) + 188
4  WebKit                         0x19a4e76f8 WebKit::ProcessThrott

[2016-12-10 00:22] owainm commented on #9
Fix is available in v3.0.6

[2016-12-10 00:23] owainm commented on #5
Fix is available in v3.0.6

[2016-12-10 00:23] #5 closed

[2016-12-10 00:24] owainm commented on #1
This is expected behavior if you call our configureWithAppID:zoneIDs:options:completion: method multiple times within a 5 second window.

[2016-12-10 00:24] #1 closed

[2016-12-10 00:24] owainm commented on #6
Fix is available in v3.0.6

[2016-12-10 00:24] #6 closed

[2016-12-10 00:24] owainm commented on #3
Fix is available in v3.0.6

[2016-12-10 00:24] #3 closed

[2016-12-10 00:27] owainm commented on #2
Your zone type needs to be set to 'Value Exchange/V4VC'. Please refer to our [documentation](https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Rewarded-Interstitial-Ads-Quick-Start-Guide)  for details.

[2016-12-10 00:27] #2 closed

[2016-12-10 00:28] owainm commented on #4
Fix is available in v3.0.6.

[2016-12-10 00:28] #4 closed

[2016-12-10 00:35] owainm commented on #8
Fix is available in v3.0.6.

[2016-12-10 00:35] #8 closed

[2016-12-12 08:54] AssassinSC opened #14 "Api call"
[code]

Why callback <completion:^(NSArray<AdColonyZone *> * _Nonnull zones)> call before configuration
And failure < failure:^(AdColonyAdRequestError * _Nonnull error) > call every time with this error.

AdColony library version: 3.0.6.3 64-bit production
AdColony [Info] : AdColony controller version: 1.0.6.5
AdColony [*Warning*] : Ignoring call to configureWithAppID:zoneIDs:options:completion:,

[2016-12-13 06:59] victorfigol commented on #5
3.0.6 still crashes

[2016-12-13 07:07] victorfigol commented on #9
@owainm 3.0.6 still has the same problem, tested with landscape app (left/right). After AdColony shows ad in portrait mode, the app will crash.

[2016-12-14 06:10] pangia commented on #8
Hi, this is still not working in 3.0.6.

[2016-12-16 19:31] cmanibog-ac commented on #13
This has been fixed in v3.0.6.

[2016-12-20 11:13] #13 closed

[2016-12-26 06:36] #14 closed

[2017-01-04 00:43] cmanibog-ac commented on #12
To troubleshoot this further, I will need you to update to our 3.0.6 SDK at https://github.com/AdColony/AdColony-iOS-SDK-3. If you are still experiencing this issue after updating, please send a ticket to AdColony support at support@adcolony.com

[2017-01-04 00:53] cmanibog-ac commented on #11
If you have not yet done so, I will need you to update to our 3.0.6 SDK. If this crash is still occurring after updating, please send a an email / ticket to our support team at support@adcolony.com.

[2017-01-04 00:55] cmanibog-ac commented on #10
We have not yet heard of this issue. If you are still experiencing this issue with Storyboard, please  open a ticket with our support team by sending an e-mail to support@adcolony.com

[2017-01-07 13:49] arun-perk commented on #5
@victorfigol  3.0.6 works for me. You just need to force orientation to landscape while adcolony being displayed.

[2017-01-16 10:44] robertodias180 opened #15 "ADCJSCoreModule.m line 538 -[ADCJSCoreModule beginMessagePassing:]"
I am getting this error on Version 3.0.6

here is the crash log: http://crashes.to/s/08a39403480

any ideias?

edit:
in case the link expires here is the [log file](https://github.com/AdColony/AdColony-iOS-SDK-3/files/708063/com.creactive.millionnaire-gratuit_issue_1998_crash_3c2cee5ad57c4278a29f5cd43a500494_1d7c87cb511e4548adedb877a29143ff_0_v1.txt)

[2017-01-25 10:41] staskochkin opened #16 "Crash on JSON serialisation"
After installation AdColony-iOS-SDK 3.0.6 occurred this crash in  AdColony Worker thread.

Thread 54 name:  AdColony Worker
Thread 54 Crashed:
0   Foundation                    	0x0000000184f25ca8 _convertJSONString + 296
1   Foundation                    	0x0000000184f25c7c _convertJSONString + 252
2   Foundation                    	0x0000000184f25100 _writeJSONString + 124
3   Foundation

[2017-01-25 11:05] lobovkin commented on #16
See more crushes on Analytics for last few days. 3.0.6 SDK.

[2017-01-28 01:00] cmanibog-ac commented on #16
To troubleshoot this further, please send a Charles log or a full console log showing the app activity from when our SDK is initialized through the crash. These crash logs are similar to crashes seen in our 3.0.4 SDK and should have been fixed in 3.0.6. That said, our Engineering team has re-opened this bug and can investigate further once we have the additional logs.

[2017-01-31 07:23] staskochkin commented on #16
@cmanibog-ac  I catch this exception from Analytics, and haven't Charles/XCode logs. On internal testing stage we can't reproduce this behaviour.

[2017-01-31 18:45] cmanibog-ac commented on #16
Could you send a link to your Crashlytics tracking? This will provide us a bit more information for troubleshooting. You can also send this link directly to our Support team by sending a message to support@adcolony.com.

[2017-02-05 20:35] cmanibog-ac commented on #15
Our team is has investigated this and the fix will be included in our 3.1 SDK update. This update is targeted for mid-February.

[2017-02-16 04:59] ngoan commented on #15
@cmanibog-ac Any updates on this fix?

[2017-02-17 17:37] lobovkin commented on #16
Hello. Any updates? See more crushes for 2 apps with new SDK 3.0.6 and normal with previous SDK 2.

[2017-03-06 22:32] cmanibog-ac commented on #15
Our GitHub has been updated with our 3.1 SDK. This crash is fixed in this version.

[2017-03-06 22:32] #15 closed

[2017-03-06 22:32] #10 closed

[2017-03-07 17:39] #11 closed

[2017-03-07 17:39] #12 closed

[2017-03-15 23:39] yomanx opened #17 "AdColony [*** ERROR ***] : Tried to show an expired interstitial ad."
why???

my game freezing.....

[2017-03-16 01:05] mwhite-ac commented on #17
Thank you for reaching out, this is not a question that we can help with in this format as we need more information.  I need you to send a full console log to our Support Team, this log should show all app activity from when you initialize our SDK through a video view and the freeze event that you're seeing.  Include what version of our SDK you're working with and what platform your app is on and

[2017-03-16 01:05] #17 closed

[2017-03-17 21:41] leamerluck opened #18 "2.x podspec pointing to non-existent repo"
I have a project that was using AdColony 2.6.2. It was building fine locally but when trying to install on another machine CocoaPod install is failing with the error: `'fatal: repository 'https://github.com/AdColony/AdColony-iOS-SDK.git/' not found`

I figured I'd open an issue so that others were aware what the problem was. An SDK update to 3.1 is the only solution, I assume, since that repo is n

[2017-03-17 22:33] zeevvax commented on #18
We have the same issue, waiting to hear from AdColony. In the meantime I added the framework directly by changing the Podfile (or in my case the pod spec) as follow
#offers.dependency 'AdColony', '2.6.3'
    s.vendored_frameworks  = 'AdColony/AdColony.framework'
    s.weak_frameworks = 'AdSupport', 'AudioToolbox', 'AVFoundation', 'CoreTelephony', 'EventKit','JavaScriptCore','MessageUI','Social','S

[2017-03-21 22:22] cmanibog-ac commented on #18
Apologies for the delay. We have removed our 2.x repo in preparation of sunsetting support for these SDK versions later this year and having publishers integrate with our updated 3.x API moving forward.

[2017-03-22 23:09] piyushg91 commented on #18
That's pretty shady behavior. You guys basically pulled the rug out from under everyone's feet.

@leamerluck , I was able to find someone else's fork:
https://github.com/javis007/AdColony-iOS-SDK/commits/master

You'll have to change your AdColony to point to this.

[2017-03-27 17:38] #18 closed

[2017-03-30 22:39] cmanibog-ac commented on #16
This is fixed in our 3.1 update.

[2017-03-30 22:39] #16 closed

[2017-04-04 22:26] ekilah opened #19 "No way to check a zone's ability to show an ad before actually attempting to show it"
The method used to show an AdColony interstitial returns a `BOOL` like so:

[code]

However, there is no way to query whether or not the ad will be able to start playback or not, and there is no list of reasons provided to describe why the return value here would ever be `NO`.

We've noticed that this method will return `NO` in at least one case that should be predictable, and therefore should be

[2017-04-06 00:31] cmanibog-ac commented on #19
Ad availability can be checked before the show call with the requestInterstitial method. This will pass to either the success or failure block, which can then be used to control the availability of your watch button. For further discussion and to see its implementation, I recommend reviewing our sample app at https://github.com/AdColony/AdColony-iOS-SDK-3/blob/master/SampleApps/ObjC/AdColonyBasic/

[2017-04-06 00:34] ekilah commented on #19
Well, it's either a bug or a feature, but this condition is not covered by the `failure` block in 3.1.0 and 3.1.1. The success callback is called in this scenario.

[2017-04-10 16:07] dwxw opened #20 "Unable to find visible UIViewController"
Hello,
In SDK 3.1.1, I'm calling `showWithPresentingViewController` to show an ad, but it doesn't appear.  I get an error in the console: _AdColony has ads, but could not display them. AdColony was unable to find the currently visible UIViewController for your app. Please ensure that your key UIWindow has a rootViewController_.
I found an old SO [post](http://stackoverflow.com/questions/17071351/a

[2017-04-11 17:53] cmanibog-ac commented on #20
To look into this further, please send a full console log showing the app activity from when our SDK is initialized through this issue. If you are using a mediation layer, which partner? For streamlined communication, feel free to send this message to our support team directly by email at support@adcolony.com.

I also recommend reviewing our sample apps at https://github.com/AdColony/AdColony-iOS-

[2017-04-17 09:37] manishmundra3 opened #21 "We want to show adVideo in half of screen"
We want to show same video in half of screen.
Is this possible ?If yes let me know code please

[2017-04-18 17:23] cmanibog-ac commented on #21
We do not offer a method to allow half screen videos. Our videos can play in fullscreen portrait/landscape or in letter-boxed portrait/landscape.

[2017-04-18 17:23] #21 closed

[2017-04-21 14:03] dwxw commented on #20
The log is:

2017-04-21 14:56:52.805001+0100 Integration Tester[923:337610] AdColony [Info] : AdColony library version: 3.1.1.2 64-bit production
2017-04-21 14:56:52.805277+0100 Integration Tester[923:337610] AdColony [Info] : AdColony controller version: 1.0.7.6
2017-04-21 14:56:59.920313+0100 Integration Tester[923:337537] AdColony [Info] : Interstitial ad request succeeded in zone: vz2aaa728c3c

[2017-04-21 20:10] cmanibog-ac commented on #20
I've heard back from our engineers on this and to find the root issue, it will be helpful to open a ticket with our team at support@adcolony.com. In the message, please send a navigation stack. What UIViewController are you passing? Does the app support all orientations?

[2017-04-23 08:37] anil03 opened #22 "Adcoloany version 3.0.4.1 after showing ads VC is not dismissing."
I am using Adcolony 3.0.4.1 which available in CocoaPods. I updated the pods file.

: AdColony controller version: 1.0.5.11

It is launching ads after finishing video it is showing BLACK screen. I can not go back to my view controller file.

NOTE: It run sample app it is working fine. with manual installation

Please update cocoa pods file in GITHUB with latest version.

[2017-04-25 01:44] cmanibog-ac commented on #22
The pod file should be updated with our latest SDK, v3.1.1. Could I have you install this version and test again? If you are still seeing the black screen issue after updating, please send a console log showing the app activity from when our SDK is initialized through the black screen issue to our support team at support@adcolony.com.

[2017-05-02 07:09] alanchen commented on #15
I am using 3.1.1 but this issue still happens.
I think this issue is not fixed.
Please check again.
Thank you.

[2017-05-03 00:55] cmanibog-ac commented on #15
Could you send a console log, with our v3.1.1 integrated, showing the app activity from when our SDK is initialized through the crash? For more streamlined communication, feel free to open a ticket with our support team for this at support@adcolony.com.

[2017-05-03 18:55] anil03 commented on #22
just updated the Pods file and it worked.
thanks for reply.

[2017-05-03 18:56] #22 closed

[2017-05-09 14:19] rkPCH commented on #20
I'm hitting this same issue.  Integtrating AdColony via MoPub.  I'm passing in a valid ViewController - all of the other adnetworks we have integrated with MoPub are receiving the exact same viewController and are displaying their ads.

Has there been any resolution to this issue?

[2017-05-15 20:38] cmanibog-ac commented on #20
@rkPCH If you are still experiencing this issue, to look into this further, please open a ticket with our Support team at support@adcolony.com. In the message, please send a navigation stack and let us know if the app supports all orientations or not.

[2017-05-17 09:55] banshchikov commented on #12
Same crash.
AdColony [Info] : AdColony library version: 3.1.1.2 64-bit production

[2017-05-18 18:26] cmanibog-ac commented on #12
To look into this further, please submit a ticket with our support team at support@adcolony.com. In addition to the crash log, could you let us know what orientations the app supports? Could I have you double check that our Project Setup guide has been followed at https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Xcode-Project-Setup?

[2017-06-07 14:24] guthyerrz commented on #15
@robertodias180 Hi Roberto, was the crash fixed when you updated? I'm also having this problem on 3.0.6 and I'm trying to decide if it's worth to update to 3.1.1.

[2017-06-07 14:27] robertodias180 commented on #15
@guthyerrz the new version fixed the issue for me.

[2017-06-09 11:08] tigrim opened #23 "Problem with AdColonyAdapter.framework"
I have problem with  with  AdColonyAdapter.framework. Add in project AdColonyAdapter-3.1.1 and AdColony-iOS-SDK-3-3.1.1. I got next errors

**Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_AdColonyAppOptions", referenced from:
      objc-class-ref in AdColonyAdapter(GADMAdapterAdColony.o)
  "_OBJC_CLASS_$_AdColonyAdOptions", referenced from:
      objc-class-ref in AdColonyAdapter(GAD

[2017-06-12 16:47] cmanibog-ac commented on #23
I've reached out to our Engineering team for additional guidance. I will follow up with more information or additional questions after they review these details.

[2017-06-14 00:05] cmanibog-ac commented on #23
To look into this further, would you be able to provide a framework for Frameworks and linker flags in the project settings? For clarification, is this integration through CocoaPods or a manual integration?

[2017-06-20 15:20] ninjudd commented on #12
I am getting this same crash with 3.1.1. Any update on a fix?

[2017-06-21 00:20] cmanibog-ac commented on #12
@ninjudd We had not received the additional information needed from the publishers reporting this issue. Could I have you send a full console log showing the app activity from when our SDK is initialized through the crash? What orientations does your app support? Could I have you double check that our Project Setup guide has been followed at https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Xcod

[2017-06-24 19:06] ninjudd opened #24 "No way to know when ad has finished closing"
We need a callback to know when an ad has closed completely. The current `onClose` callback is called before the `ADCContainer` has finished being dismissed. We need to present a new controller once the ad is done, but currently our only option is to sleep and wait.

[2017-06-28 00:32] cmanibog-ac commented on #24
I've reached out to our Engineering team for additional insight on this. We will follow up with more information after looking into this further.

[2017-06-28 00:34] cmanibog-ac commented on #23
@tigrim - If you are still experiencing this issue, please email our support team at support@adcolony.com. In your message please provide a framework for Frameworks and linker flags in the project settings? For clarification, is this integration through CocoaPods or a manual integration?

[2017-06-28 00:34] #23 closed

[2017-06-28 00:34] #20 closed

[2017-06-29 15:46] drewster99 commented on #20
Got the same issue using AdColony via MoPub.

2017-06-29 10:28:37.468776-0500 My Game[1002:577707] MOPUB: Looking for custom event class named AdColonyRewardedVideoCustomEvent.
2017-06-29 10:28:37.783183-0500 My Game[1002:577707] MOPUB: Looking for custom event class named AdColonyInterstitialCustomEvent.
2017-06-29 10:28:38.238120-0500 My Game[1002:578015] AdColony [Info] : AdColony library versi

[2017-06-29 23:07] cmanibog-ac commented on #20
@drewster99 We had not received the necessary information from the developers that raised this issue for our team to troubleshoot further.

Could you let me know the specific version number of our iOS SDK you are using? Please share a screenshot of the navigation stack when the AdColony SDK is called while running on the device and  info about the UIViewcontroller being passed. What orientations d

[2017-06-30 11:27] rkPCH commented on #20
In my case, the issue was that my app didn't allow all 4 device orientations.  Once I allowed all 4, the ads displayed.

Whether it's appropriate for AdColony to require all 4 is something that AdColony should consider.

[2017-06-30 12:28] drewsterb commented on #20
Okay perhaps that is the same issue then.  This game does not allow all orientations.  I will test though and see if that affects things.

Thank you for the info!!

[2017-06-30 19:07] drewster99 commented on #20
Hello,

I am using your latest SDK, as I just downloaded it on Wednesday.

Here’s the debug output:

2017-06-29 10:28:37.468776-0500 My Game[1002:577707] MOPUB: Looking for custom event class named AdColonyRewardedVideoCustomEvent.
2017-06-29 10:28:37.783183-0500 My Game[1002:577707] MOPUB: Looking for custom event class named AdColonyInterstitialCustomEvent.
2017-06-29 10:28:38.238120-0500 My Gam

[2017-07-01 00:23] cmanibog-ac commented on #20
Thank you for the feedback Andrew. I've reached out to our Engineering team with this for consideration.

[2017-07-01 01:18] drewster99 commented on #20
Thanks!

[2017-07-05 21:40] ardee19 commented on #20
I agree. This bug shows when on upside down device orientation is unchecked. My app is not a game but kinda trigger the ad after dialog box. Found something on stackoverflow about it. So, I thought its because of it that I had to delay showing. Checking all four orientations finally showed the adcolony even without delaying after dialog box click.

[2017-07-06 15:19] drewster99 commented on #20
Hello again.

Any update on this?

We all would like this to work.  I’m working on another app for another client with the same issue.
If this issue really affects everyone who doesn’t support all the screen orientations, it could be having a big impact on your business.

Thanks
Andrew

[2017-07-07 21:32] cmanibog-ac commented on #24
@ninjudd Apologies for the delay. To look into this further, could you clarify if a mediation layer is being used and if yes, which partner? Could you give us the steps that are followed to reproduce this behavior? Please also send a console log showing the app activity from when our SDK is initialized through this issue. For more streamlined communication with our teams, feel free to submit this

[2017-07-13 08:51] Borisevich34 opened #25 "AdColony [*** ERROR ***] : Tried to show an expired interstitial ad."
Could you give a description of this error, please?
It is displayed after call showWithPresentingViewController method of AdColonyInterstitial object.
How can I handle this error after call the method above?

This error is happened sometimes, AdColony IOS SDK version is 3.1.0 from pods. IOS version is 10.0.

[2017-07-13 18:17] cmanibog-ac commented on #25
It is possible for our ads to to expire if the app has been inactive for a while. Our sample app shows how to handle such an event: https://github.com/AdColony/AdColony-iOS-SDK-3/blob/master/SampleApps/ObjC/AdColonyBasic/AdColonyBasic/ViewController.m

[2017-07-13 18:17] #25 closed

[2017-07-18 09:21] troyzhao opened #26 "AdColony [*** ERROR ***] : AdColony has ads, but could not display them. AdColony was unable to find the currently visible UIViewController for your app. Please ensure that your key UIWindow has a rootViewController."
what the hell, i had already set rootViewController, but still get an error!
my code like this

UIViewController *rootCtl = [UIApplication sharedApplication].windows[0].rootViewController;
[self.ad showWithPresentingViewController:rootCtl];

And the log:

AdColony [Info] : Interstitial ad request succeeded in zone: vzxxxxxxxxxxxxx
AdColony [*** ERROR ***] : AdColony has ads, but could not display

[2017-07-18 23:53] cmanibog-ac commented on #26
@troyzhao Could I have you check that our Setup documentation has been followed at https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Xcode-Project-Setup? Could you also confirm that this activity is called on the main thread? If this is the case, please share a console log showing the app activity from when our SDK is initialized through this error message along with the code snippet where the A

[2017-07-20 02:56] troyzhao commented on #26
OK, it works when i reconfiguration the xcode project setup, but i still don`t know what happened.

[2017-07-20 02:56] #26 closed

[2017-07-26 07:27] danielsuiasv commented on #12
I'm also am getting this same crash with 3.1.1. Any update on a fix?
Steps to reproduce:
a) tap a AdColonyNativeAdView
b) background the app while the expanded AdColonyNativeAdView is in view
c) tap on another AdColonyNativeAdView

It would be nice to have a closeAd public method for such an expanded AdColonyNativeAdView.
For AdColonyInterstitial we enjoy having a cancel method.
(our app is a VoIP

[2017-07-26 17:39] cmanibog-ac commented on #12
@danielsuiasv To look into this further, please share a full console log showing the app activity from when our SDK is initialized through the crash.

For streamlined communication with our Support/Engineering teams, feel free to submit this information directly as an email to support@adcolony.com.

[2017-08-10 07:04] shaniamjad opened #27 "Java_com_adcolony_sdk_ADCVMModule_00024ADCJSVirtualMachine_update Crash"
I have integrated Adcolony 3.1.2 SDK into my Cocos2dx Android project.. I have also integrated Crashlytics SDK, on which i am getting a crash related to your SDK and its being faced by lots of my users. So could you please investigate this issue and fix it please. Thanks.

Cocos2dx Version: 3.15.1
Adcolony SDK: 3.1.2 (gradle)
Crashlog: [crashlog-1.txt](https://github.com/AdColony/AdColony-iOS-SDK-

[2017-08-11 21:31] coolcool1994 commented on #5
sharedControl is undefined? Can you provide us with the full the full code?

[2017-08-11 23:02] cmanibog-ac commented on #27
@shaniamjad I've reached out to our Engineering team for additional guidance on this crash. We'll follow up with more information or additional questions after reviewing these details.

[2017-08-16 02:34] akwkong commented on #27
In the crashlog you sent, it looks like the device is running low on memory since it shows that RAM Free is only 2.9%. We have seen these crashes happen when RAM is low. Does Crashlytics also show these crashes happening on devices running low on memory?

[2017-08-16 09:04] shaniamjad commented on #27
No unfortunately crashlytics doesn't tells us if this is a low memory crash OR other.. I have seen other similar crash and some of them were having 10% Free Ram which is more then enough i believe. So are you sure that this crash is occurring because of low memory?

[2017-08-19 14:55] tigrim opened #28 "Crash with Landscape orientation"
I have got next error **"preferredInterfaceOrientationForPresentation 'landscapeRight' must match a supported interface orientation: 'portrait'!"**. I have UiViewController with next metods

- (BOOL)shouldAutorotate {
    return NO;
}

- (UIInterfaceOrientation)preferredInterfaceOrientationForPresentation {
    return **UIInterfaceOrientationPortrait**;
}

- (UIInterfaceOrientationMask)supportedIn

[2017-08-20 10:46] SamuraiCoder opened #29 "Interstitial is shown behind the main window on IOS"
Hi,

I'm implementing interstitials in our games. Everything is correct but once I press a button to show the ad fullscreen I can hear the demo sound of interstitial but the game window remains with the same as before and the ad is not displayed.

This is when I trigger for now the add:

[code]
GameWindowIOS implements an interface for the game window and we can get the GameViewController for it.

[2017-08-22 00:32] cmanibog-ac commented on #28
To look into this further, could you let me know if this app supports portrait orientation only? Could I have you check that you have followed our Project Setup documentation, specifically the supported orientations section at https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Xcode-Project-Setup#configuring-supported-orientations. Could you also confirm if this is with our latest 3.1.1 iOS SDK a

[2017-08-28 18:27] averello opened #30 "Crash with FyberMediationAdColony in -[ADCViewabilityMonitor standardVisibilityCheck]"
Hello,

using `FyberMediationAdColony` version 3.1.1.1 we have the following crash
`ADCViewabilityMonitor.m line 106
-[ADCViewabilityMonitor standardVisibilityCheck]`
in the AdColony Worker thread.

Fabric reports that the reason is `UIKit on non-main thread`.

Here is the AdColony Workerbacktrace:
[code]

Thanks,
Georges

[2017-08-29 10:50] shaniamjad commented on #27
Hello guys, Is there any progress on this? Have you investigated this?

[2017-08-29 18:53] cmanibog-ac commented on #29
See email thread https://adcolony.desk.com/agent/case/23969

[2017-08-29 18:53] #29 closed

[2017-08-29 20:52] cmanibog-ac commented on #30
To look into this further, please share your AdColony app/zone IDs. Please also send any full crash logs or console logs showing the app activity from when our SDK is initialized through the crash. What is the frequency of this issue and are there any known steps to reproduce this behavior?

[2017-08-30 09:26] averello commented on #30
AdColony app id: `app9185bf16405c43659b` .
AdColony zone name: `Video`.

Console logs are not available as this is a production release.

There no known steps to reproduce this behaviour.
Also, why frequency is important?

[2017-08-30 10:03] rizwangaminations commented on #27
hi,
I am having same Issue as shaniamjad has reported.
are you guys are working on a fix or is there any work around to resolve this issue?

[2017-08-31 07:03] torufuruya opened #31 "NSAllowsArbitraryLoads = false, really?"
https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Xcode-Project-Setup#step-3-configuring-app-transport-security-ats
Regarding to Option 2, you updated NSAllowsArbitraryLoads to be false at 3.2.0, but is it true?

[2017-08-31 19:23] gswati8 commented on #31
Yes, by setting NSAllowsArbitraryLoads to be false, ATS is enabled and that is supported by 3.2 SDK. However, please make sure that the following keys are set to true NSAllowsLocalNetworking and NSAllowsArbitraryLoadsInWebContent for the SDK to render ads.

[2017-09-01 00:46] torufuruya commented on #31
Does it work without NSAllowsArbitraryLoads as following?

[code]

How about iOS 9?

[2017-09-06 23:09] akwkong commented on #27
We released version 3.2.1 of our Android SDK that should help with this crash. Could you give that a try and see if things have improved?

[2017-09-07 06:08] shaniamjad commented on #27
Sure, Let me try that.. I will update you once i have it.

[2017-09-07 06:42] rizwangaminations commented on #27
Great,
let me update my app.

thanks anyway.

[2017-09-07 06:56] SuperEntertainmentSteve opened #32 "Thread lock issue on iOS 11?"
I updated to sdk 3.2.0.0 as previous versions weren't working on iOS 11.
Things started working on the first run, but then on subsequent runs of the app the game hangs a few seconds in.

I paused execution in xCode and it looks like an issue inside AdColony.

![adcolonythreadlock](https://user-images.githubusercontent.com/31723027/30149963-036b8e0c-93ed-11e7-8a13-6658e2186023.png)

[2017-09-08 08:37] madthijs opened #33 "Crash on v.3.2.0: Fatal Exception: NSGenericException *** Collection was mutated while being enumerated."
Hi,

Using AdColony SDK v3.2.0 we have the following crash
`[ADCLogManager setLogsActive] (ADCLogManager.m:93)`

Fabric reports:
[code]

Backtrace:
[code]

Thanks and let me know if you need more info.
This is in production, I don't have a way to reproduce the crash (yet).

Thijs

[2017-09-08 18:19] cmanibog-ac commented on #32
Thanks for bringing this to our attention. Our team has opened a bug for this and will be working on a resolution.

[2017-09-08 18:57] cmanibog-ac commented on #33
Our team has opened a bug for this crash and will be working on a resolution.

[2017-09-11 20:16] anandjp commented on #33
Thanks for reporting it @madthijs.
This issue has been fixed in 3.2.1 SDK.

[2017-09-11 20:16] #33 closed

[2017-09-11 20:22] anandjp commented on #32
@SuperEntertainmentSteve, please call setAppOptions outside completion handler and you will not see this issue.

[2017-09-11 20:43] gswati8 commented on #31
The keys NSAllowsLocalNetworking and NSAllowsArbitraryLoadsInWebContent are available on iOS 10 and above, thus on iOS9 they have no effect. So if the combinations (option#2) is used on iOS 9 and lower, it will enable ATS and ADcolony SDK will not be able to render ads.

[2017-09-12 00:18] ekilah commented on #32
@anandjp I work for Heyzap, the mediation SDK being used in this screenshot/issue. @SuperEntertainmentSteve reached out to us to point this out to us (thanks for that).

@anandjp - what can and can't be done in the completion handler? Would it be sufficient for us to just use a `dispatch_async` block inside your completion handler to set these options and also configure zone callbacks?

[2017-09-12 06:43] anandjp commented on #32
Can you please email support@adcolony.com<mailto:support@adcolony.com> with code block you are planning to use along with usecase for calling setOptions in completion handler?

Sent from my iPhone

On Sep 11, 2017, at 5:18 PM, Monroe Ekilah <notifications@github.com<mailto:notifications@github.com>> wrote:

@anandjp<https://github.com/anandjp> I work for Heyzap, the mediation SDK being used in thi

[2017-09-12 20:03] ekilah commented on #32
the usecase is just to set up the logging behavior of the AdColony SDK after it initializes. the rest of the code there sets up the incentivized zone callbacks. we'll just do this asynchronously after the completion block is received. thanks.

I was unable to reproduce the lock that @SuperEntertainmentSteve reported but we'll do this just in case.

[2017-09-12 21:28] #31 closed

[2017-09-15 20:33] ekilah commented on #32
Heyzap released a patch to our current beta SDK, version 9.13.1, with a workaround for this, though I couldn't reproduce the issue myself in the simulator. [Changelog here](https://developers.heyzap.com/docs/changelog) . Let us know if anything else comes up @SuperEntertainmentSteve , thanks for the report!

[2017-09-18 09:44] fmtekcan opened #34 "Crash with ADCJSCoreModule.m line 587 -[ADCJSCoreModule beginMessagePassing:]"
Hi, we are using AdColony with DFP mediation GoogleMobileAdsMediationAdColony pod.
Fabric reports a lot of crashes following.

`Crashed: AdColony Worker
0  JavaScriptCore                 0x196dcaae8 bmalloc::Heap::allocateLarge(std::__1::lock_guard<bmalloc::StaticMutex>&, unsigned long, unsigned long) + 24
1  JavaScriptCore                 0x196dcaadc bmalloc::Heap::allocateLarge(std::__1::lock_gu

[2017-09-21 21:56] #34 closed

[2017-09-26 09:25] jus18tin opened #35 "In Airplane Mode, showWithPresentingViewController will not playAd and trigger no callbacks."
and (BOOL)showWithPresentingViewController will return YES, Although no ad has been playback.
Because even the ad.close will not be triggered, We have no idea when our app has been come back to our control in that case.

[2017-09-26 18:43] cmanibog-ac commented on #35
The API showWithPresentingViewController returns that the SDK will begin showing a video, not that it has shown a video. A workaround for this is to check that an internet connection is available using Apple's SCNetworkReachability API before invoking showWithPresentingViewController.

[2017-09-27 03:40] jus18tin commented on #35
At AdColony-iOS-SDK-2.6.3,
in that case,"zoneStatusForZone" will become false, and "onAdColonyAdAvailabilityChange" with "available" false will be triggered.
It would be helpfully if you add something like ad.fail in next version

[2017-09-27 16:01] #32 closed

[2017-09-27 22:10] #35 closed

[2017-09-27 23:14] #19 closed

[2017-09-27 23:15] #27 closed

[2017-09-28 18:04] coolcool1994 opened #36 "Updating from 3.1 to 3.2"
In order to update AdColony frame work from 3.1 to 3.2, I deleted the previous framework, then dragged the new framework in. When I run the project I get the below error:

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_AdColony", referenced from:
      objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture arm64

(Not so easy huh)

[2017-09-28 18:12] coolcool1994 commented on #36
oh I had to go to Project -> General -> And just add the New AdColony Framework there. Duh

[2017-09-28 18:12] #36 closed

[2017-09-29 13:19] tspop opened #37 "Crash: AdColony.m, line 136"
Using latest `GoogleMobileAdsMediationAdColony` version

[code]

[2017-09-29 18:49] cmanibog-ac commented on #37
To look into this further, please share the entire crash log for our team to review further. This integration is through AdMob mediation, correct? If so, could you confirm that you are using the 3.2.1 adapter from https://bintray.com/google/mobile-ads-adapters-ios/AdColonyAdapter# with our 3.2.1 SDK? Please send this through support@adcolony.com for streamlined communication.

[2017-10-03 16:26] okla opened #38 "Multiple Xcode Main Thread Checker issues after calling AdColony.configure(withAppID:zoneIDs:options:)"
Just built my project on Xcode 9 with Main Thread Checker turned on and got multiple issues come from AdColony framework after calling `AdColony.configure(withAppID:zoneIDs:options:)` from `application(didFinishLaunchingWithOptions)`

[code]

[2017-10-05 06:09] rizwangaminations commented on #27
@akwkong hi,
i am still getting same issue, even after i updated SDK to adcolony:3.2.1
![screen shot 2017-10-05 at 11 04 55 am](https://user-images.githubusercontent.com/31472835/31212965-3acfae24-a9bd-11e7-8fb0-6a72b10abc91.png)
could you please investigate this issue?

[2017-10-05 17:46] cmanibog-ac commented on #38
Could I have you double check our Project Setup guide has been followed at https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Xcode-Project-Setup? Please also ensure that calls to our methods are happening on the main thread and if not, try posting them to the main thread.

[2017-10-05 21:00] cmanibog-ac commented on #38
Please also confirm which version of our SDK you are using. If you have not already done so, could I have you update to our latest version, v3.2.1?

[2017-10-06 06:52] AwaisQmar commented on #27
Hi @akwkong !
I'm also having the same issue.
I'm using newly updated SDK adcolony:3.2.1

Crashlytics Report is as following:

cocos2dx-3.15.1
OS Version: 6.0.1
Device: Galaxy J7
Disk Free: 50%

0  memtrack.exynos5.so            0xf73bd72e strlcpy
1  memtrack.exynos5.so            0xef0080c1 Java_com_adcolony_sdk_ADCVMModule_00024ADCJSVirtualMachine_update
2  gralloc.exynos5.so             0xe2126

[2017-10-06 11:21] okla commented on #38
I use 3.2.1, setup is completely following your guide and all methods are called from main thread.

More detailed output:

[code]

[2017-10-06 23:07] cmanibog-ac commented on #38
Our engineers have asked if you could share a full console log showing the app activity from when our SDK is initialized through the error. Also feel free to send the console log through our support channel at support@adcolony.com for streamlined communication with our team.

[2017-10-07 18:38] okla commented on #38
Weird, but I can't reproduce it anymore (though my code haven't changed). Don't know what it was, maybe something Xcode related.

[2017-10-07 18:39] #38 closed

[2017-10-10 18:11] anandjp commented on #30
@averello This issue is fixed in 3.2.1 SDK. Your app version 5.13 has 3.2.1 SDK already mediating via Fyber.

[2017-10-10 18:11] #30 closed

[2017-10-26 14:56] AwaisQmar commented on #27
Hi @akwkong !
Any update on this crash ?

[2017-10-27 11:07] bandw opened #39 "AdColonyRequestErrorNoFillForRequest"
I got this error after showing several ads on my app:

After that, every request for interstitial will be failed except I restart my app, how I can I fix this then keep requesting a new interstitial for display?

[2017-10-27 20:41] gswati8 commented on #39
To look into this further, please share the entire console log and Charles logs for our team to review further.Also, can you please confirm which version of SDK are you using. Please send this through support@adcolony.com for streamlined communication.

[2017-10-29 08:55] bandw commented on #39
I just run the sample project AdColonyBasic, here is the console log:

The first-time request success, after playing, to request a new
Interstitial failed, then keep getting the error  "No fill for ad request",
except I restart the app.
If so, I integrate AdColony to my app, once an error "No fill for ad
request" occurred, then there will be no Interstitial for display right?

2017-10-28 4:41 GMT+

[2017-11-02 11:43] robertodias180 opened #40 "Presenting ad from Modal Presentation bug"
Hello,

With the new version (3.2.1) if a present the ad from a View Controller that is presented as a Modal when the ad closes the main View Controler is gone.

I can provide a test case if needed.

thanks

[2017-11-02 16:35] gswati8 commented on #40
Can you please share the  UIModalPresentationStyle being used to present the ModalViewController.

[2017-11-02 18:10] robertodias180 commented on #40
Here is the code 😃

`
        let vc = storyboard!.instantiateViewController(withIdentifier: "PopupViewController")
        vc.modalPresentationStyle = .custom
        vc.modalTransitionStyle = .crossDissolve
        self.present(vc, animated: true)
`

[2017-11-02 23:02] gswati8 commented on #40
Sorry to know that you are facing issues. We will be releasing SDK 3.3 soon, and it has the fix for the issue reported. The modal viewController presenting the ad will not be dismissed once the ad finishes playing.

[2017-11-02 23:04] #40 closed

[2017-11-13 09:07] AwaisQmar commented on #27
@akwkong !
any update regarding this crash ?

[2017-11-17 07:14] meeeeeepo opened #41 "iPhone X, can't close or repeat video"
![iPhoneX](http://joxi.ru/p27KbWec0Yayk2.png)

[2017-11-17 20:04] cmanibog-ac commented on #41
@meeeeeepo Our team is aware of the display issues with ads on the iPhone X and are working towards a fix. I'll need to sync up with our Engineering team for a more accurate date of when this update will be released.

[2017-11-23 05:51] egzy1992 opened #42 "Crash on v.3.2.1: Fatal Exception: NSRangeException"
Hello,

Using AdColony SDK v3.2.1 we have the following crash
ADCLogManager.m line 203
__30-[ADCLogManager propogateLogs]_block_invoke_2

Fabric reports:
__30-[ADCLogManager propogateLogs]_block_invoke_2
 Raw Text

`#10. Crashed: AdColony Worker
0  BoxingTimer                    0x100476e70 CLSProcessRecordAllThreads + 4299714160
1  BoxingTimer                    0x100476e70 CLSProcessRecordAllThr

[2017-11-28 01:04] cmanibog-ac commented on #42
@egzy1992 Our Engineering team was able to review this crash. We are aware of this and a fix will be implemented in our 3.3 SDK update. We are targeting this release to be in the next couple of weeks.

[2017-12-19 07:17] flyme2moon opened #43 "Sometimes AdColony Reward Callback isn't called in iOS"
I've serviced mobile games with AdColony for 2 years.
My game gives reward to users after watching Ad.
However recently I got lots of email from iOS users about Ad reward problem.
It suddenly happens from 13th December.
(I didn't modify any code. Game has been released long time ago)
I found out that sometimes AdColony Reward CallBack isn't called after watching Ad in iOS.
I use AdColony library v

[2017-12-26 19:29] mll opened #44 "Small video size"
Sometimes the ad plays inside a tiny section of the screen. The rest of the screen is black.

[2017-12-27 18:34] gswati8 commented on #44
Sorry to know that you are facing issues. Please share the entire console log and Charles logs for our team to review further.Also, can you please confirm which version of SDK are you using and if it is a direct integration or you are using a mediation partner. Please send this to support@adcolony.com for streamlined communication.

[2018-01-02 19:56] cmanibog-ac commented on #42
Sorry for the delayed response. We have pushed a fix on our backend that should resolve this crash. Could you confirm if you are still seeing this crash or if the crashes have subsided?

[2018-01-02 22:57] lyodev opened #45 "Crash on v.3.2.1, AdColony setupWorkerThread -> JavaScriptCore"
0 | JavaScriptCore 0x000000018db3cfd4 sanitizeStackForVMImpl + 16
  | 1 | JavaScriptCore 0x000000018d9802e0 JSC::Heap::runCurrentPhase() + 80
  | 2 | JavaScriptCore 0x000000018d9833e8 JSC::Heap::collectInMutatorThread() + 44
  | 3 | JavaScriptCore 0x000000018d9832cc JSC::Heap::stopIfNecessarySlow() + 60
  | 4 | JavaScriptCore 0x000000018d983568 JSC::Heap::acquireAccessSlow() + 312
  | 5 | JavaScri

[2018-01-03 19:27] sohos commented on #43
Same issue here. I have two games and both stopped at the same time.

[2018-01-03 22:33] gswati8 commented on #43
To look into this further, please share the entire console log and Charles logs for our team to review.Also, can you please confirm which version of SDK are you using. Kindly send this through support@adcolony.com for streamlined communication.

[2018-01-03 22:34] gswati8 commented on #45
To look into this further, please share the entire console log and Charles logs for our team to review.Also, can you please confirm which version of SDK are you using. Please send this to support@adcolony.com for streamlined communication.

[2018-01-04 21:44] lyodev commented on #45
It was reported on Crittercism. There is no entire console log or Charles log.

[2018-01-09 21:01] #45 closed

[2018-01-16 10:59] kostapappas commented on #11
Crash on v 3.2.1.1
#22. Crashed: AdColony Worker
0  JavaScriptCore                 0x188c33ac8 JSC::JSRunLoopTimer::timerDidFire() + 32
1  JavaScriptCore                 0x188c33ac4 JSC::JSRunLoopTimer::timerDidFire() + 28
2  CoreFoundation                 0x181c0292c __CFRUNLOOP_IS_CALLING_OUT_TO_A_TIMER_CALLBACK_FUNCTION__ + 28
3  CoreFoundation                 0x181c02650 __CFRunLoopDoTimer + 8

[2018-01-17 21:29] cmanibog-ac commented on #11
@kostapappas To look into this crash further, please submit a ticket to our Support team at support@adcolony.com. Please share the full crash log. If you are able to reproduce the crash in-house, please share any known reproduction steps and a full console log showing the app activity from when our SDK is initialized through the crash.

[2018-01-26 22:15] cmanibog-ac commented on #41
Apologies for the delay. We have recently released our v3.3 iOS SDK update. This display issue has been corrected in this SDK update.

[2018-01-26 22:15] #41 closed

[2018-01-29 02:00] jus18tin opened #46 ""Xcode-Project-Setup" maybe wrong?"
https://github.com/AdColony/AdColony-iOS-SDK-3/wiki/Xcode-Project-Setup#linking-the-required-dependencies
### now
- EventKit.framework (Set to Optional)
- JavaScriptCore.framework

### Isn't it should be
- EventKit.framework
- JavaScriptCore.framework (Set to Optional)

As `JavaScriptCore.framework` is available from iOS 7

[2018-01-30 21:42] gswati8 commented on #46
Thanks for bringing this to our attention. The screenshot shows JavaScriptCore.framework (Set to Optional) while in the docs it is mentioned as Required. We will fix it.

JavaScriptCore.framework is a required framework as it's a fundamental requirement by the SDK.
EventKit.framework is optional as it's needed to show ads that access calendar events. Some application developers do not wish to enab

[2018-02-05 17:57] #44 closed

[2018-02-05 17:57] #46 closed

[2018-02-08 06:48] imobdevtech opened #47 "Orientation problem in ios"
I have portrait mode application and now i need to integrate adcolony in my project but document state that adcolony video also in landscape mode so how i can handle this things in my project.

[2018-02-08 22:52] cmanibog-ac commented on #47
You can force ads to be served in portrait orientation in AdColonyAppOptions. Our API details on this can be seen at https://adcolony-www-common.s3.amazonaws.com/Appledoc/3.3.0/Classes/AdColonyAppOptions.html#//api/name/adOrientation.

Additionally, an AdColony admin can override the ad viewing orientation in a setting in our dashboard. If you could let us know your AdColony app ID, we can update

[2018-02-09 10:27] imobdevtech commented on #47
@cmanibog-ac  we set orientation in AdColonyAppOptions but still i got the landscape video. here is  my code.

[code]

[2018-02-09 19:52] #42 closed

[2018-02-09 22:53] cmanibog-ac commented on #47
Everything looks fine except for the value that is being passed. Instead of passing .portrait, could you send it as AdColonyOrientationPortrait, like mentioned here https://adcolony-www-common.s3.amazonaws.com/Appledoc/3.3.0/Constants/AdColonyOrientation.html?

[2018-03-01 23:01] #47 closed

[2018-03-01 23:02] #43 closed

[2018-03-01 23:02] #24 closed

[2018-03-01 23:02] #28 closed

[2018-03-01 23:03] #37 closed

[2018-03-02 04:40] sanju-naik opened #48 "Blank screen when you click on the Ad CTA button & scroll down on the In-App Appstore view."
Hi,

We have upgraded from 3.2.1 to 3.3.0 and we are experiencing this blank screen issue on your latest SDK version.

Steps to reproduce :
- Click on Video ad CTA Button.
- It opens up a In-App Appstore view to install the ad, scroll down on that page.
- After scrolling a bit it show empty white screen & you are stuck there, The only way to exit this screen is force quit your app.

Can you please

[2018-03-02 18:49] cmanibog-ac commented on #48
@sanju-naik I'll see if our Engineering team is able to reproduce this issue. In the meantime, could you share a video of this behavior and a console log showing the app activity from when our SDK is initialized through the white screen issue?

Also feel free to share this and future requests through our support channel at support@adcolony.com for streamlined communication with our Support/Enginee

[2018-03-08 16:40] lucasshrew commented on #9
Any news regarding this? I still have this issue in version 3.0.6.3

[2018-03-08 20:52] gswati8 commented on #9
Fix is available in v3.3. Please update to the latest SDK version

[2018-03-10 11:13] lucamicheli commented on #9
I've updated to the 3.3 I still have the same problem.

<img width="545" alt="screen shot 2018-03-10 at 11 12 28" src="https://user-images.githubusercontent.com/700465/37241625-0672dbda-2454-11e8-9a15-7f7373983987.png">

Any help?

[2018-03-12 22:56] cmanibog-ac commented on #9
@lucamicheli Unfortunately, our team was unable to reproduce this issue on 3.3. To look in to this further, could you share a repro of this on our sample app or share a sample .ipa reproducing this behavior? Are you building in Unity or using a mediation layer and if yes, which partner? Could you share a full console log showing the app activity from when our SDK is initialized through this displa

[2018-04-10 18:17] guthyerrz opened #49 "Crash when setting the battery monitor"
Hi, I'm on the latest SDK version `3.3.0` and this crash just started appearing.
[code]

[2018-04-11 18:02] cmanibog-ac commented on #49
Thank you for getting in touch with us.

Our team has added these details to a bug we are currently tracking and are validating the a fix we have for this. The fix will be available in our 3.3.2 iOS SDK update. We plan for this to be available in the next week or two barring any issues during testing. We'll follow up when our 3.3.2 SDK is available.

[2018-09-19 06:49] DevJ0049 commented on #27
i have same issue

[2018-10-03 18:34] finngaida opened #50 "Audio session killed upon initialization"
The app I'm working on calls `[AdColony configureWithAppID:...]` during `application:didFinishLaunchingWithOptions` and apparently this call cuts all external audio.

Meaning if a user has Music playing from Apple Music or Spotify or is listening to any other form of background audio this will get stopped and can only be resumed from the app that it was originally started from. That is extremely b

[2018-10-16 23:31] finngaida commented on #50
Is anyone reading this?

[2018-10-17 08:07] lupatus commented on #50
Yeah, sorry for late reply, let me check that.

[2018-10-17 20:33] lupatus commented on #50
This issue is addressed and will be fixed with version 3.3.6 - should be released pretty soon, we're validating it at the moment.

[2018-10-18 08:17] finngaida commented on #50
Great! Thanks for taking the time to look into it!

[2018-11-14 21:42] #49 closed

[2018-12-07 22:14] superjd commented on #39
Asked to send information through the official support channel.

[2018-12-07 22:14] #39 closed

[2018-12-14 21:56] superjd commented on #50
@finngaida did you integrate 3.3.6? and is your issue resolved?

[2018-12-17 18:03] #48 closed

[2018-12-17 18:04] #9 closed

[2018-12-19 19:13] finngaida commented on #50
Oh yes the new update fixed it

[2018-12-19 19:13] #50 closed

[2019-02-08 16:46] thithuhanguyen commented on #50
Let me check

[2019-04-26 12:35] halfdevil opened #51 "AdColony [*** ERROR ***] : Cannot start AdColony; configuration mechanism dictates only one app ID can be used during a session."
Getting this error while using AdColony mediation with Google Mobile Ads new Rewarded API. This issue is occurring while caching rewarded ads with new APIs.

[2019-04-30 07:58] aniltaskiran commented on #49
Hi, I am getting same crash I can't find any solution. How did you solve this issue?

[2019-05-21 22:46] raptos commented on #51
#49

[2019-06-04 17:27] grantpowell opened #52 "Ads do not serve"
Ads are not serving. SDK does not work. We have been unable to reach anyone on your team.

[2019-06-04 22:43] mwhite-ac commented on #52
@grantpowell Our Marketing team passed your contact to our Support team a bit earlier today and I have your information in our queue.  But, we'll need more information to dig into this further, you can speed troubleshooting by sending an email to support@adcolony.com including your AdColony app ID, version of the SDK you're working with and a full console log showing all app activity from when you

[2019-06-05 19:20] #52 closed

[2019-06-17 16:41] superjd commented on #49
Do you have a stack trace to share, also can you open a support ticket by sending a mail to support@adcolony.com

[2019-06-25 10:03] iDevid opened #53 "AdColony calles UI API on background thread on iOS 13"
This is the stacktrace from my application running iOS 13:
2019-06-25 12:00:53.285910+0200 AppName[1036:90512] [reports] Main Thread Checker: UI API called on a background thread: -[UIViewController init]
PID: 1036, TID: 90512, Thread name: AdColony Worker, Queue name: com.apple.root.default-qos.overcommit, QoS: 0
Backtrace:
4   AppName                          0x00000001032b9498 -[ADCBrowser init

[2019-06-29 19:37] happymark01 commented on #11
Google

[2019-06-29 21:17] happymark01 commented on #9
https://github.com/AdColony/AdColony-iOS-SDK-3/issues/9#issuecomment-372490024

[2019-07-30 01:36] Winton1992 opened #56 "Why "Showing Interstitial Ads" is written in OC, how about swift? thanks"
Why "Showing Interstitial Ads" is written in OC, how about swift? thanks
![image](https://user-images.githubusercontent.com/9639404/62093880-41dc5580-b2be-11e9-96f1-7e80cc75c5df.png)

[2019-07-30 01:59] #56 closed

[2019-08-06 07:18] mhmtkrgz opened #57 "[ADCJSTimer timerFired:]"
AdColony 3.3.8.1
2.6k+ crash at last 10 days
Thanks in advance.
This is crash log:

Crashed: AdColony Worker
0  JavaScriptCore                 0x185fdeb78 JSC::Heap::collectImpl(JSC::HeapOperation, void*, void*, int (&) [48]) + 1380
1  JavaScriptCore                 0x185fde78c JSC::Heap::collectImpl(JSC::HeapOperation, void*, void*, int (&) [48]) + 376
2  JavaScriptCore                 0x185fde5e

[2019-08-06 15:28] superjd commented on #57
Thanks for reporting, can you send this information in addition to the crash log (from crashlytics if available) and your app/zone information to support@adcolony.com and we will investigate.

[2019-08-06 15:31] superjd commented on #53
Thanks for reporting, we are aware of this and will have a fix, we do evaluate iOS13 betas when they get released.

[2019-08-15 08:10] mhmtkrgz commented on #57
Thanks @superjd, I did it.

[2019-08-28 13:11] romankravets commented on #53
@superjd Hi, do you have any updates on this ?

[2019-09-09 09:10] thomasmso commented on #53
Are there any updates on this?

[2019-09-13 10:15] iDevid commented on #53
@superjd hey man, iOS 13 will get released next week and there is still no fix

[2019-09-13 10:19] iDevid commented on #57
Same here, 177 occurrences in the last 10 days

[2019-09-13 10:20] iDevid commented on #57
It seems to happen primarily on iOS 10

[2019-09-19 08:21] alexeyvolkov-dev commented on #53
This issue also produces a black screen instead of video content. The sound is playing, but no video. Any ETA when we can get the fix for that?

[2019-09-23 14:03] superjd commented on #53
Hi all, Sorry for the delay in responding, we are preparing a new release of the SDK this week, this will address the issue above and other iOS13 related issues we found.

[2019-09-27 15:53] iDevid commented on #53
Seems fixed on 4.1.0

[2019-09-27 15:53] #53 closed

[2019-10-01 07:25] stopiccot opened #58 "SDK 4.1.0 can be used only with Xcode 11"
Please rebuild 4.1 sdk with Xcode 10 so it can be used in projects that still use Xcode 10.
Currently building with Xcode 10.2.1 gives error:
[code]

[2019-10-02 00:26] superjd commented on #58
Hello,
Can you send an email to support@adcolony.com with more details, are you integrating the SDK directly or using something else?

Thanks.

[2019-10-03 01:23] superjd commented on #51
Are you still facing this issue? can you send a mail to support@adcolony.com with more details.

[2019-11-05 01:29] superjd commented on #51
No response.

[2019-11-05 01:29] #51 closed

[2019-11-05 04:57] pangia opened #59 "Cannot exit ads if Voiceover is activated on device."
Millions of users use the iOS UIAccessibility frameworks voiceover functionality on their iOS device. The rewarded video advertisements currently are not accessible at all. Once they appear on the screen, the user is stuck. This causes invalid clicks, as well as frustrated users who cannot exit the view.

Please include a fix to make the close button on the ad accessible, and also labeled correctl

[2019-12-30 09:40] ipangth commented on #57
I also have this similar problem with same crash stack, now is top1 crash in our project. It's not AdColony but with ReactNative, just crash on ios 10.0.
@mhmtkrgz @iDevid ,do you fix this crash? how to?

[2020-01-01 17:28] mkubo87 opened #60 "Cannot assign to value: 'setReward' is a method"
Hello, i'm using Swift 5 on XCode 11 target iOS 11

I get the
`Cannot assign to value: 'setReward' is a method`

when i write code to configure adcolony

[code]

I need this to refresh user rewards

How i can solve it?

[2020-01-28 01:26] superjd commented on #60
@mkubo87 Thanks for reporting this, i've updated the documentation with the right usage.
The sample app shows correct usage.

[2020-01-28 01:26] #60 closed

[2020-02-10 21:33] mkubo87 commented on #60
Hello @superjd i still have the problem with this piece of code
without the "?" i get the
Cannot assign to value: 'setReward' is a method error
with the "?" i get
Cannot use optional chaining on non-optional value of type 'AdColonyZone'

[2020-02-13 15:57] #58 closed